body {
    background-color: black;
}

.close {
    border: 0;
    background: transparent;
    color: #fff;
    opacity: 1;
    float: right;
}

@font-face {
    font-family: 'Vacation Planner Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Vacation Planner Regular'), url('../fonts/Vacation Planner.woff') format('woff');
}

@font-face {
    font-family: 'Amethyst Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Amethyst Regular'), url('../fonts/Amethyst-webfont.ttf') format('truetype');
}


@font-face {
    font-family: 'Brittney Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Brittney Regular'), url('../fonts/Brittney-MVYae.woff') format('woff');
}

.btn-add-text {
    text-transform: uppercase;
    width: 150px;
    margin: 10px;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
}


.slidecontainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.slidecontainer2 {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.slidecontainer2::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: transparent;
}

.slidecontainer2::-webkit-scrollbar-track {
    background-color: transparent;
}

.slidecontainer2::-webkit-scrollbar-corner {
    background-color: transparent;
}

.slidecontainer2::-webkit-scrollbar-thumb {
    background-color: rgba(255, 216, 67, 0.2);
    border-radius: 10px;
}

.slider {
    width: 100%;
    margin: 5px;
    color: #FFD843;
    background-color: #FFD843;

}

.selected i {
    color: #FFD843;
}

select {
    height: 30px;
    padding: 3px;
    font-size: 12px;
}


/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
}

.widget {
    border-radius: 3px;
    width: 300px;

    color: white;
    display: none;
    position: absolute;
    z-index: 100;
    margin: 0px;
    padding: 0px;
    filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 1));
}

.widget-sm {
    border-radius: 5px;
    line-height: 1;
    color: white;
    display: none;
    position: absolute;
    z-index: 100;
    margin: 0px;
    filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 1));
}

.widget-lg {
    border-radius: 5px;
    line-height: 1;
    color: white;
    width: 375px;
    display: none;
    position: absolute;
    z-index: 100;
    margin: 0px;
    filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 1));
}

.p-10 {
    padding: 10px;
}

.widget-sm span {
    font-size: 11px;
}

.widget-lg span {
    font-size: 11px;
}

.widget-models {
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 400px;
    margin: 20px;
    filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 1));
}

.widget-white {
    background-color: white;
    color: black;
}

textarea {
    margin-top: 20px;
    min-height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.095);
    padding: 10px;
}

textarea:focus {
    outline: none !important;
}

.widget-black {
    background-color: rgba(0, 0, 0, 0.60);
    color: white;
}

.widget-header {
    border-radius: 3px 3px 0px 0px;
    float: center;
    min-width: 100%;
    height: 40px;
    background: rgba(0, 0, 0, 0.9);
    margin: 0px;
    padding: 0px;
    color: white
}

.konvajs-content {
    margin: 0 auto;
    background-color: #fff;
    background-image:
        linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc),
        linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
    background-size: 20px 20px;
    /* Ajuste o tamanho do quadrado */
    background-position: 0 0, 10px 10px;
    /* Offset para criar o xadrez */
    box-shadow: 0 0 0 px black;

}

#input-text-edit::selection {
    color: rgba(0, 0, 0, 0.0);
    background-color: rgba(51, 144, 255, 0.5)
}

.bg-hover:hover {
    background-color: rgba(0, 0, 0, 0.20)
}

.editor {
    width: 100%;
    height: 100%;
}

.widget-row {
    width: auto;
}

.widget-body {
    padding: 10px;
}

.row {
    --bs-gutter-x: 0rem !important;
}

@media (max-width: 450px) {
    .widget-lg {
        width: 100%;
    }

    .widget-row {
        width: auto;

    }
}

@media (max-width: 768px) {
    .editor-btn {
        display: none;
    }

    .editor-btn:hover {
        background-color: black;
        color: white;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .widget-hidden {
        display: none;
    }

    .text-button {
        display: none;
    }

    .parente {
        width: 90%;
        height: 90%;
        display: none;
    }
}

@media (min-width: 769px) {
    .editor-btn {
        box-shadow: 0 0 0.2em black;
        border: 0;
        width: 50px;
        height: 45px;
        position: absolute;
    }

    #widget-video {
        width: 810px !important;
        height: 400px !important;
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .widget-hidden {
        display: flex;
    }

    .parente {

        display: none;
    }
}


.butao {
    opacity: 0.9;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 1.25em;
    transform: translateX(-50%) translateY(-50%);
    background: #333;
    color: #fff;
    border: none;
    line-height: 1;
    cursor: url(images/brush.cur);
    padding: .25em .75em;
    border-radius: 9999em;
    z-index: 2;
    box-shadow: 5px 10px 10px #333;
}

.preview {
    max-width: 413px;
    max-height: 516px;
    display: none;
    position: fixed;
    z-index: 99999999;
}

.loading {
    display: none;
}

.figure1 {

    box-shadow: 5px 10px 10px #888888;

}

.preview:hover .butao {
    display: block;
}

.figure2 {
    position: relative;
}


.multi-button {

    text-align: left;

    margin: 0 auto;
    background-color: #333C4C;
    width: 100%;
}

.multi-button button {

    height: 60px;
    width: 20%;
    background: transparent;

    color: white;
    font-size: 0.9rem;
    font-family: Oswald;
    border: none;
    margin: -3px;
    padding: 0;
    outline: none;
}

.new-button:hover {
    cursor: url(images/brush.cur);

}

.new-button:active {
    filter: none;
    transform: scale(.95);
}